<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHEEZYFLIX MOVIEZ API</title>
</head>

<body>
    <p>CHEEZYFLIX MOVIEZ API</p>
    <p><button><a href="/upcoming">upcoming</a></button></p>
    <p><button><a href="/now_playing">now playing</a></button></p>
    <p><button><a href="/trending">trending</a></button></p>
    <p><button><a href="/top_rated">top rated</a></button></p>

</body>

</html>